name: argocd-mcp-server-e2e

version: '3.8'
services:
  argocd-server-mock:
    image: argocd-server-mock
    build:
      context: .
      dockerfile: ./test/e2e/argocd-server-mock/Containerfile.yaml
    ports:
      - "50084:50084"
    environment:
      - ARGOCD_SERVER_MOCK_LISTEN_HOST=0.0.0.0
      - ARGOCD_SERVER_MOCK_LISTEN_PORT=50084
      - ARGOCD_SERVER_MOCK_TOKEN=secure-token
      - ARGOCD_SERVER_MOCK_DEBUG=true
  argocd-mcp-server-ok:
    image: argocd-mcp-server
    build:
      context: .
      dockerfile: Containerfile.yaml
    ports:
      - "50081:8080"
    environment:
      - ARGOCD_URL=http://argocd-server-mock:50084
      - ARGOCD_TOKEN=secure-token
      - ARGOCD_MCP_SERVER_INSECURE=true
      - ARGOCD_MCP_SERVER_DEBUG=true
      - ARGOCD_MCP_SERVER_LISTEN_HOST=0.0.0.0
      - ARGOCD_MCP_SERVER_LISTEN_PORT=8080
  argocd-mcp-server-unreachable:
    image: argocd-mcp-server
    build:
      context: .
      dockerfile: Containerfile.yaml
    ports:
      - "50082:8080"
    environment:
      - ARGOCD_URL=http://argocd-server-mock:50085 // invalid URL 
      - ARGOCD_TOKEN=secure-token
      - ARGOCD_MCP_SERVER_INSECURE=true
      - ARGOCD_MCP_SERVER_DEBUG=true
      - ARGOCD_MCP_SERVER_LISTEN_HOST=0.0.0.0
      - ARGOCD_MCP_SERVER_LISTEN_PORT=8080
